<!DOCTYPE html>
<html lang="sk-SK" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <title>{ifset #title}{include title|striptags} | {/ifset}{$siteTitle}</title>
    <meta n:if="$siteDescription" name="description" content="{$siteDescription}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <script type='text/javascript' src='{$basePath}/layouts/default/js/jquery-1.11.2.js'></script>

    <link rel="stylesheet" href="{$basePath}/layouts/default/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/layouts/default/js/jquery-ui.css">
    <link href="/layouts/tyzden/styles/main.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{$basePath}/layouts/default/js/bootstrap.min.js"></script>
    <script src="{$basePath}/layouts/default/js/netteForms.js"></script>
        <link rel="stylesheet" type="text/css"
              href="https://fonts.googleapis.com/css?family=Tangerine">
</head>
<body>

<style>
    #header a {
        font-family: "TheSerif_SemiLight";

    }

    #header .menu-separator {
        /*border-left:2px dotted #38546d;*/
        border-right:2px dotted #000;
        height:14px;
        display: inline-block;
        margin: 0px 3px;
    }

    .btn-primary {
        background: #bf1f10;
        font-family: "TheMix_Bold";
        border-radius: 0px;
    }

    .btn-primary:hover {
        color: black;
        background: transparent;
    }

    h1{
        font-size:30px;
    }
    input[type=text], input[type=password], input[type=email]{
        width: 60%;
    }

    .form-control {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }


    .s_container div.row {
        padding-left:15px;
        padding-right:15px;
    }

    .s_content .page-header {
        border-bottom:2px dotted #000000;
    }

    .s_content #header, .s_content h1, .s_content .page-header {
        padding-left:15px;
        padding-right:15px;
    }

</style>

<div id="top" class="s s_container">

    <div class="s s_content" style="padding-top:30px">

        <div id="header" style="margin-bottom:10px;">
            {if $user->isLoggedIn()}
                {ifCurrent :SalesFunnel:SalesFunnel:*}
                    {ifCurrent :SalesFunnel:SalesFunnelFrontend:*}
                    {else}
                        {control frontendMenu}
                    {/ifCurrent}
                {else}
                    {ifCurrent :Subscriptions:Subscriptions:new}
                    {else}
                        {ifCurrent :SalesFunnel:SalesFunnelFrontend:*}
                            {control frontendMenu}
                        {else}
                            {control frontendMenu}
                            <a href="{link :Subscriptions:Subscriptions:new}" class="btn btn-green" style="float:right; margin-top:-5px">Predĺžiť predplatné</a>
                        {/ifCurrent}
                    {/ifCurrent}
                {/ifCurrent}
            {/if}
        </div>

        {control simpleWidget 'frontend.layout.top'}

        {foreach $flashes as $flash}
            {if $flash->type == 'info'}
                <div class="alert alert-success">
                    <strong>Úspech!</strong> {$flash->message}
                </div>
            {elseif $flash->type == 'error'}
                <div class="alert alert-danger">
                    <strong>Chyba!</strong> {$flash->message}
                </div>
            {else}
                <div class="alert alert-warning">
                    <strong>Pozor!</strong> {$flash->message}
                </div>
            {/if}
        {/foreach}

        {include content}

        {ifCurrent :Subscriptions:Subscriptions:new}
        {else}
            {control snippet 'contact'}
        {/ifCurrent}

    </div>
</div>

{ifset #footer}
    {include footer}
{else}
    {ifCurrent :SalesFunnel:SalesFunnelFrontend:*}
    {else}
        {control snippet 'footer'}
    {/ifCurrent}
{/ifset}


<iframe style="position: absolute; top: -10000px; left: -10000px; width: 1px; height: 1px;" src="{$basePath}/token_http.php"></iframe>

{block scripts}
{/block}
</body>
</html>