{block #content}

<div class="page-header">
    <h1 n:block=title>{_users.frontend.request_password.title}</h1>
    <p class="lead"></p>
</div>

<blockquote>
    <p class="lead">
        {_users.frontend.request_password.success.email} {$email}. <br>

        <strong>{_users.frontend.request_password.success.spam}</strong>
    </p>
</blockquote>