{block #content}

<div class="page-header">
	<h1 n:block=title>{_users.frontend.request_password.title}</h1>
	<p class="lead"></p>
</div>

<p>{_users.frontend.request_password.info}</p>

<div class="well">
	{control requestPasswordForm}
</div>