<span class="badge">{$totalUsers}</span>
{_dashboard.total.registrations.title} <i class="fa fa-question-circle" data-toggle="tooltip" data-original-title="{_dashboard.total.registrations.tooltip}"></i>