services:
	moduleManager:
		setup:
			- addModule(Crm\UsersModule\UsersModule(), 300)
	emailValidator:
		class: Crm\UsersModule\Email\EmailValidator
		setup:
			- addValidator(Crm\UsersModule\Email\RegexpValidator())
			- addValidator(Crm\UsersModule\Email\StaticDomainFileValidator())
	filterLoader:
		setup:
			- register('gravatar', [Crm\UsersModule\Helpers\GravatarHelper(), process])
			- register('userLabel', [Crm\UsersModule\Helpers\UserLabelHelper(), process])

	accessTokensRepository: Crm\UsersModule\Repository\AccessTokensRepository
	usersRepository: Crm\UsersModule\Repository\UsersRepository
	groupsRepository: Crm\UsersModule\Repository\GroupsRepository
	userGroupsRepository: Crm\UsersModule\Repository\UserGroupsRepository
	loginAttemptsRepository: Crm\UsersModule\Repository\LoginAttemptsRepository
	changePasswordsLogsRepository: Crm\UsersModule\Repository\ChangePasswordsLogsRepository
	userMetaRepository: Crm\UsersModule\Repository\UserMetaRepository
	addressesRepository: Crm\UsersModule\Repository\AddressesRepository
	addressesMetaRepository: Crm\UsersModule\Repository\AddressesMetaRepository
	addressChangeRequestsRepository: Crm\UsersModule\Repository\AddressChangeRequestsRepository
	userActionsLogRepository: Crm\UsersModule\Repository\UserActionsLogRepository
	adminGroupsRepository: Crm\UsersModule\Auth\Repository\AdminGroupsRepository
	adminAccessRepository: Crm\UsersModule\Auth\Repository\AdminAccessRepository
	autoLoginTokensRepository: Crm\UsersModule\Auth\AutoLogin\Repository\AutoLoginTokensRepository
	countriesRepository: Crm\UsersModule\Repository\CountriesRepository(%countries.default%)
	addressTypesRepository: Crm\UsersModule\Repository\AddressTypesRepository
	passwordResetTokensRepository: Crm\UsersModule\Repository\PasswordResetTokensRepository
	userEmailConfirmationsRepository: Crm\UsersModule\Repository\UserEmailConfirmationsRepository
	adminUserGroupsRepository: Crm\UsersModule\Auth\Repository\AdminUserGroupsRepository

	# Authentication
	- Crm\UsersModule\Authenticator\AutoLoginAuthenticator
	- Crm\UsersModule\Authenticator\AccessTokenAuthenticator
	- Crm\UsersModule\Authenticator\UsersAuthenticator
	- Crm\UsersModule\Authenticator\AutoLoginTokenAuthenticator
	- Crm\UsersModule\Auth\UserAuthenticator

	# API Authorization
	userTokenAuthorization: Crm\UsersModule\Auth\UserTokenAuthorization
	deviceTokenAuthorization: Crm\UsersModule\Auth\DeviceTokenAuthorization
	serviceTokenAuthorization: Crm\UsersModule\Auth\ServiceTokenAuthorization

	- Crm\UsersModule\Auth\Access\AccessToken

	- Crm\UsersModule\Forms\ChangePasswordFormFactory
	- Crm\UsersModule\Forms\RequestPasswordFormFactory
	- Crm\UsersModule\Forms\ResetPasswordFormFactory
	- Crm\UsersModule\Forms\UserFormFactory
	- Crm\UsersModule\Forms\UserGroupsFormFactory
	- Crm\UsersModule\Forms\UserNoteFormFactory
	- Crm\UsersModule\Forms\GroupFormFactory
	- Crm\UsersModule\Forms\AdminGroupFormFactory
	- Crm\UsersModule\Forms\AdminUserGroupFormFactory
	- Crm\UsersModule\Forms\AddressFormFactory
	- Crm\UsersModule\Forms\UserDeleteFormFactory
	- Crm\UsersModule\Forms\RegisterFormFactory
	- Crm\UsersModule\Forms\SignInFormFactory
	- Crm\UsersModule\Forms\AbusiveUsersFilterFormFactory
	- Crm\UsersModule\Scenarios\UserSourceCriteria
	- Crm\UsersModule\Auth\AutoLogin\AutoLogin
	- Crm\UsersModule\Auth\UserManager
	- Crm\UsersModule\Auth\PasswordGenerator
	- Crm\UsersModule\Auth\Authorizator
	- Crm\UsersModule\Auth\Permissions
	- Crm\UsersModule\Builder\UserBuilder
	- Crm\UsersModule\Commands\AddUserCommand
	- Crm\UsersModule\Commands\GenerateAccessCommand
	- Crm\UsersModule\Commands\CheckEmailsCommand
	- Crm\UsersModule\Commands\DisableUserCommand
	- Crm\UsersModule\Components\AddressWidget
	- Crm\UsersModule\Components\UserLoginAttempts
	- Crm\UsersModule\Components\UserPasswordChanges
	- Crm\UsersModule\Components\AutologinTokens
	- Crm\UsersModule\Components\UserMeta
	- Crm\UsersModule\Components\ActiveRegisteredUsersStatWidget
	- Crm\UsersModule\Components\TodayUsersStatWidget
	- Crm\UsersModule\Components\MonthUsersStatWidget
	- Crm\UsersModule\Components\MonthToDateUsersStatWidget
	- Crm\UsersModule\Components\MonthUsersSmallBarGraphWidget
	- Crm\UsersModule\Components\Widgets\DetailWidgetFactoryInterface
	- Crm\UsersModule\Events\UserLastAccessHandler
	- Crm\UsersModule\Events\UpdateUserNameFromAddress
	- Crm\UsersModule\Events\SignEventHandler
	- Crm\UsersModule\Events\AuthenticationHandler
	- Crm\UsersModule\Events\NewAccessTokenHandler
	- Crm\UsersModule\Events\RefreshUserDataTokenHandler
	- Crm\UsersModule\Events\RemovedAccessTokenHandler
	- Crm\UsersModule\Api\UsersEmailHandler
	- Crm\UsersModule\Api\UsersLoginHandler
	- Crm\UsersModule\Api\ListUsersHandler
	- Crm\UsersModule\Api\UsersCreateHandler
	- Crm\UsersModule\Api\UserGroupApiHandler
	- Crm\UsersModule\Api\UserInfoHandler
	- Crm\UsersModule\Api\AddressesHandler
	- Crm\UsersModule\Api\CreateAddressHandler
	- Crm\UsersModule\Api\UsersConfirmApiHandler
	- Crm\UsersModule\Api\CreateAddressChangeRequestHandler
	- Crm\UsersModule\Api\UserMetaListHandler
	- Crm\UsersModule\Api\UserMetaKeyUsersHandler
	- Crm\UsersModule\Api\UserMetaDeleteHandler
	- Crm\UsersModule\Api\UserMetaUpsertHandler
	- Crm\UsersModule\Api\UserDataHandler
	- Crm\UsersModule\Api\AutoLoginTokenLoginApiHandler
	- Crm\UsersModule\Events\LoginAttemptHandler
	- Crm\UsersModule\Events\UserUpdatedHandler
	- Crm\UsersModule\Hermes\UserTokenUsageHandler
	- Crm\UsersModule\Commands\UpdateLoginAttemptsCommand
	- Crm\UsersModule\Components\UserActionLogAdminFactoryInterface
	- Crm\UsersModule\User\UserData
	- Crm\UsersModule\User\UnclaimedUser
	- Crm\UsersModule\User\BasicUserDataProvider
	- Crm\UsersModule\User\AddressesUserDataProvider
	- Crm\UsersModule\User\AutoLoginTokensUserDataProvider
	- Crm\UsersModule\User\UserMetaUserDataProvider
	- Crm\UsersModule\User\ZipBuilder('%tempDir%')
	- Crm\UsersModule\Segment\SourceAccessCriteria
	- Crm\UsersModule\Segment\ActiveCriteria
	- Crm\UsersModule\Segment\DeletedCriteria
	- Crm\UsersModule\Segment\SourceCriteria
	- Crm\UsersModule\Segment\EmailCriteria
	- Crm\UsersModule\Segment\GroupCriteria
	- Crm\UsersModule\Segment\CreatedCriteria
	- Crm\UsersModule\Seeders\ConfigsSeeder
	- Crm\UsersModule\Seeders\SegmentsSeeder
	- Crm\UsersModule\Seeders\UsersSeeder
	- Crm\UsersModule\Components\UserSourceAccesses
	- Crm\UsersModule\Components\UserTokens
	- Crm\UsersModule\Auth\Rate\WrongPasswordRateLimit
	- Crm\UsersModule\Auth\Rate\IpRateLimit

	- Crm\UsersModule\Api\GetDeviceTokenApiHandler
	- Crm\UsersModule\Repositories\DeviceTokensRepository
