{block #title}Nová adresa{/block}

{block #content}

<div class="row">
    <div class="col-md-12">
        <a href="{link UsersAdmin:show $user->id}"><i class="fa fa-angle-left"></i> späť na záznam</a>
        <div class="page-header">
            <h1>
                Nová adresa pre {$user->email}
            </h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        {control addressForm}
    </div>
</div>